//Compass imports
@import "compass";
@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import 'compass/css3/filter';
@import "compass/css3/flexbox";
@import "compass/css3/transition";
//External Libraries
@import "susy";
@import "breakpoint";


@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');


html{
    height: 100%;
}
body {
    height: 100%;
   display: flex;
   justify-content: center;
//    align-items: center;
padding-top:130px;
}

h1{
    position: absolute;
    top: 30px;;
    font-size: 3em;
    font-family: 'Sedgwick Ave',  cursive;
    color: lightgreen;
    font-weight: 800;

}